<?xml version="1.0" encoding="utf-8"?>
<manifest package="protect.gift_card_guard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:required="true" android:name="android.hardware.camera"/>
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".GiftCardViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ReceiptViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".GiftCardViewActivity"/>
    </application>

</manifest>
